.text-nav {
  @include font($size: 12px, $weight: 600, $upper: uppercase, $spacing: 0.5px);
  text-decoration: none;
}

.text-caption {
  @include font-decor($size: 24px);
}

.title {
  @include font(
    $size: 32px,
    $line-height: 150%,
    $weight: 600,
    $spacing: 6px,
    $upper: uppercase,
    $color: $color-white
  );
}

.text-btn {
  @include font(
    $size: 12px,
    $weight: 600,
    $upper: uppercase,
    $color: $color-white,
    $spacing: 0.7px
  );
  text-decoration: none;
}

.section-title {
  @include font(
    $size: 24px,
    $line-height: 152%,
    $weight: 600,
    $spacing: 4px,
    $upper: uppercase,
    $color: $color-black
  );
}

.text-base {
  @include font($size: 16px, $line-height: 148%, $spacing: 0);
}

.text-slider {
  @include font(
    $size: 80px,
    $line-height: 100%,
    $weight: 600,
    $spacing: 0,
    $upper: uppercase,
    $color: $color-white
  );
}

.text-tag {
  @include font(
    $size: 12px,
    $weight: 600,
    $upper: uppercase,
    $color: $color-tag-1
  );

  &--2 {
    color: $color-tag-2;
  }

  &--3 {
    color: $color-tag-3;
  }
}
.text-number {
  @include font(
    $size: 24px,
    $line-height: 152%,
    $weight: 600,
    $spacing: 1.5px,
    $upper: uppercase,
    $color: $color-white
  );
}

.text-data {
  @include font(
    $size: 12px,
    $weight: 600,
    $upper: uppercase,
    $color: $color-white
  );
}

.text-contact {
  @include font(
    $size: 24px,
    $line-height: 152%,
    $weight: 600,
    $spacing: 4px,
    $upper: uppercase,
    $color: $color-black
  );
}

.title-card {
  @include font(
    $size: 16px,
    $line-height: 152%,
    $weight: 600,
    $spacing: 1.5px,
    $upper: uppercase,
    $color: $color-black
  );
}

// .subtitle} {
// @include font($size: 28px, $color: $color-white, $spacing: 3.55px);
// }
